<div class="content">
    <div class="col-md-12 container clearfix">
        <div class="row" style="padding: 90px; ">
            <div class="col-md-6 configdiv" style="text-align:center" >
                <img src="/assets/{{produtoDetalhes.imagem}}" />
                <h5>Nome: {{produtoDetalhes.nome}}</h5>
                <p>valor: R$ {{produtoDetalhes.valor}}</p>
                <p>Descrição: {{produtoDetalhes.detalhe}}</p>
            </div>
        </div>                
    </div>
</div>