.Material-contact-section{
    padding: 90px 0; 
}

.aboutus-section {
    padding: 90px 0;
}

.data-section {
    padding: 90px 0;
}

.interpolation-section{
    padding: 90px 0; 
}

.configdiv 
{
  border: 1px solid #DDDDDD;
  margin-right: 28px;
  margin-bottom: 28px;
  padding: 10px;
}
